[Unit]
Description=Update x11 screen
After=hibernate.target suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/udevadm trigger -s drm

[Install]
WantedBy=hibernate.target suspend.target
